<%- include("../templates/header", {titulopag:'Defunciones'})%>
  <%if (Mensaje){%>
    <p>
      <%=Mensaje%>
    </p>
    <%} else { switch(NT){ case 'bautizos' :%>
      <p>Bautizos</p>
      <% break; case 'defunciones' :%>
        <div id="body_def" class="row">

          <body id="cuerpo_def" class="col-sm-12">

            <div class="row">

              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div>
                  <button type="button" class="btn btn-success fontbutton">Exportar datos a excel</button>
                </div>

                <table class="table table-striped table-bordered table-hover" style="margin: 10px">
                  <tr>
                    <th>Siglo</th>
                    <th>Año</th>
                    <th>Calidad</th>
                    <th>Género</th>
                    <th>Totales</th>
                  </tr>
                  <% if(datosConsulta.length !=0){ datosConsulta.forEach((data)=>{ %>
                    <tr>
                      <td>
                        <%=data.siglo%>
                      </td>
                      <td>
                        <%=data.anio%>
                      </td>
                      <td>
                        <%=data.calidad%>
                      </td>
                      <td>
                        <% if(data.genero=="M" ){ %>
                          Masculino
                          <%} else{%>
                            Femenino
                            <%}%>
                      </td>
                      <td>
                        <%=data.total%>
                      </td>
                    </tr>
                    <% });} else{%>
                      <tr>
                        <td colspan="7">No se encontró la información</td>
                      </tr>
                      <%} %>
                </table>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                <img src="/public/src/castas1.jpg" style=" margin:10px;width:100%;"
                  alt="Collage de obras con autoría de Miguel Cabrera"></img>

                <!--<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                    <script>
                      var xyValues = [
                        { x: 50, y: 7 },
                        { x: 60, y: 8 },
                        { x: 70, y: 8 },
                        { x: 80, y: 9 },
                        { x: 90, y: 9 },
                        { x: 100, y: 9 },
                        { x: 110, y: 10 },
                        { x: 120, y: 11 },
                        { x: 130, y: 14 },
                        { x: 140, y: 14 },
                        { x: 150, y: 15 },
                      ];

                      new Chart("myChart", {
                        type: "scatter",
                          data: {
                            datasets: [
                              {
                                pointRadius: 4,
                                pointBackgroundColor: "rgb(0,0,255)",
                                data: xyValues,
                              },
                            ],
                          },
                        options: {
                          legend: { display: false },
                          scales: {
                            xAxes: [{ ticks: { min: 40, max: 160 } }],
                            yAxes: [{ ticks: { min: 6, max: 16 } }],
                          },
                        },
                      });
                    </script>
-->
              </div>
            </div>
          </body>
        </div>
        <% break; case 'matrimonios' :%>
          <div id="body_def" class="row">

            <body id="cuerpo_def" class="col-sm-12">

              <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div>
                    <button type="button" class="btn btn-success fontbutton">Exportar datos a excel</button>
                  </div>

                  <table class="table table-striped table-bordered table-hover" style="margin: 10px">
                    <tr>
                      <th>Siglo</th>
                      <th>Año</th>
                      <th>Calidad Masculino</th>
                      <th>Calidad Femenino</th>
                      <th>Totales</th>
                    </tr>
                    <% if(datosConsulta.length !=0){ datosConsulta.forEach((data)=>{ %>
                      <tr>
                        <td>
                          <%=data.siglo%>
                        </td>
                        <td>
                          <%=data.anio%>
                        </td>
                        <td>
                          <%=data.etnia_m%>
                        </td>
                        <td>
                          <%=data.etnia_f%>
                        </td>
                        <td>
                          <%=data.total%>
                        </td>
                      </tr>
                      <% });} else{%>
                        <tr>
                          <td colspan="7">No se encontró la información</td>
                        </tr>
                        <%} %>
                  </table>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                  <img src="/public/src/castas1.jpg" style=" margin:10px;width:100%;"
                    alt="Collage de obras con autoría de Miguel Cabrera"></img>

                  <!--<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                    <script>
                      var xyValues = [
                        { x: 50, y: 7 },
                        { x: 60, y: 8 },
                        { x: 70, y: 8 },
                        { x: 80, y: 9 },
                        { x: 90, y: 9 },
                        { x: 100, y: 9 },
                        { x: 110, y: 10 },
                        { x: 120, y: 11 },
                        { x: 130, y: 14 },
                        { x: 140, y: 14 },
                        { x: 150, y: 15 },
                      ];

                      new Chart("myChart", {
                        type: "scatter",
                          data: {
                            datasets: [
                              {
                                pointRadius: 4,
                                pointBackgroundColor: "rgb(0,0,255)",
                                data: xyValues,
                              },
                            ],
                          },
                        options: {
                          legend: { display: false },
                          scales: {
                            xAxes: [{ ticks: { min: 40, max: 160 } }],
                            yAxes: [{ ticks: { min: 6, max: 16 } }],
                          },
                        },
                      });
                    </script>
-->
                </div>
              </div>
            </body>
          </div>
          <% break; case "origenes" : %>
            <div id="body_def" class="row">

              <body id="cuerpo_def" class="col-sm-12">

                <div class="row">

                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div>
                      <button type="button" class="btn btn-success fontbutton">Exportar datos a excel</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover" style="margin: 10px">
                      <tr>
                        <th>Siglo</th>
                        <th>Año</th>
                        <th>Calidad</th>
                        <th>Género</th>
                        <th>Origenes</th>
                        <th>Totales</th>
                      </tr>
                      <% if(datosConsulta1.length !=0){ datosConsulta1.forEach((data)=>{ %>
                        <tr>
                          <td>
                            <%=data.Siglo%>
                          </td>
                          <td>
                            <%=data.Año%>
                          </td>
                          <td>
                            <%=data.Calidad%>
                          </td>
                          <td>
                            <%=data.Género%>
                          </td>
                          <td>
                            <%=data.OrigenProcedencia%>
                          </td>
                          <td>
                            <%=data.Total%>
                          </td>
                        </tr>
                        <% });} else{%>
                          <tr>
                            <td colspan="7">No se encontró la información</td>
                          </tr>
                          <%} %>
                    </table>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col xxl-6">
                    <p style="border: 1px solid; padding:10px; background-color:rgb(249, 249, 249);"> La tabla
                      simplificada de defunciones registra un conteo de la columna de totales de: <%
                          if(datosConsulta2.length !=0) { %>
                          <%=datosConsulta2[0].Tot%>
                              <% } else{%>
    
                                  <p colspan="7">No se encontró la información</p>
    
                                  <%} %> Personas casadas en un periodo comprendido desde el 1666 hasta el 1700</p>
    
                </div>
                </div>
                <%break;}}%>
                  <%- include("../templates/footer")%>